body{
	text-align:center;
	background-color:#c9fbff;
}

.BTN{
	position:fixed;
	bottom:300px;
}

a.BTN{ /*this one just handles the link on page1 */
	bottom:200px;
	margin-left:auto;
	margin-right:45%;
	border:black 1px solid;
	background-color:gray;
	color:white;
	text-decoration:none;
}

td{
	background-color:#ff0000;
	border:solid black 2px;
	border-radius:22px;
	width:100px;
	height:100px;
	
}

td:hover{
	background-color:#8c0000;
}


